@import url("https://fonts.cdnfonts.com/css/gotham-rounded");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham Rounded", sans-serif;
}

body {
    --accent: #4CA1DE;

    --app-bg: #E9E9E9;
    --chat-interface-bg: #ffffff;

    --icon-color: #3E5058;
    --icon-bg: #E9E9E9;

    --text-color: #3E5058;

    --toggle-bg: #E9E9E9;;
    --toggle-color: #ffffff;

    --send-cta-bg: var(--accent);
    --send-cta-color: #ffffff;
}
body.dark {
    --app-bg: #434F61;
    --chat-interface-bg: #252D39;

    --icon-color: #E9E0E0;
    --icon-bg: #434F61;

    --text-color: #E9E0E0;

    --toggle-bg: #434F61;
    --toggle-color: #E9E0E0;

    --send-cta-bg: var(--accent);
    --send-cta-color: #ffffff;
}