@import url("https://fonts.cdnfonts.com/css/gotham-rounded");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham Rounded", sans-serif;
}

body {
  --accent: #4ca1de;

  --app-bg: #e9e9e9;
  --chat-interface-bg: #ffffff;

  --icon-color: #3e5058;
  --icon-bg: #e9e9e9;

  --text-color: #3e5058;

  --toggle-bg: #e9e9e9;
  --toggle-color: #ffffff;

  --send-cta-bg: var(--accent);
  --send-cta-color: #ffffff;
}
body.dark {
  --app-bg: #434f61;
  --chat-interface-bg: #252d39;

  --icon-color: #e9e0e0;
  --icon-bg: #434f61;

  --text-color: #e9e0e0;

  --toggle-bg: #434f61;
  --toggle-color: #e9e0e0;

  --send-cta-bg: var(--accent);
  --send-cta-color: #ffffff;
}
